.titulo {
    color: rgb(236, 102, 150);
    width: 301px;
    height: 50px;
    background-color: darkslateblue;
}

label {
    background-color: red;
    width: 301px;
    height: 50px;
}

input {
    background-color: green;
    width: 30px;
    height: 50px;
}

button {
    background-color: blue;
    width: 301px;
    height: 50px;
}