.bodyPage {
    background-color: rgb(34, 40, 49);
}

.titulo {
    color: rgb(255, 211, 105);
    width: 2000px;
    height: 100px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    align-content: center;
    font-size: 50px;
}

.subtitulo {
    color: rgb(238, 238, 238);
    /*text-shadow: 2px 2px 5px rgb(34, 40, 49);*/
    width: 500px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
    align-content: center;
    font-size: 40px;

}

.sMonstruo{
    flex-direction: row;
    margin: 50px;
}

#seleccion_monstruo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seleccion_golpe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoCombate{
    color: rgb(238, 238, 238);
    font-family: sans-serif;
    text-align: center;
    display: block;
}

.ataque{
    margin: 20px;
}

.tarjetaMokepon {
    color: rgb(255, 211, 105);
    width: 115px;
    height: 45px;
    background: rgb(57, 62, 70);
    padding: 10px;
    margin: 50px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    border: 3px groove rgb(34, 40, 49);
    font-family: sans-serif;
    align-content: center;
    
}

.selec {
    color: rgb(238, 238, 238);
    background: rgb(57, 62, 70);
    font-family: sans-serif;
    border-radius: 2px;
    margin: 15px;
    align-items: flex-end;
}

.ataque {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    align-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: rgb(238, 238, 238);
    background: rgb(57, 62, 70);
    border: 3px groove rgb(255, 211, 105);

}

#info{
    color:rgb(238, 238, 238);
    text-align: center;
    font-family: sans-serif;
    
    
}

input {
    display : none;
}
